.product-card {
  background: #ffffff;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.info {
  margin-top: auto;
}

.info h3 {
  font-size: 17px;
  margin-bottom: 8px;
}

.info p {
  font-size: 14px;
  color: #777;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.price {
  font-weight: 600;
}

.bottom button {
  background: #000;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 8px 16px;
}

.bottom button:hover {
  opacity: 0.8;
}